<!-- views/partials/footer.ejs -->
<style>
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        height: 50px;
        font-size: 10px;
    }
</style>

<footer>
    <p>copyrights reserved</p>
</footer>
