<!-- views/partials/header.ejs -->
<header>
    <h1>My Portfolio</h1>
    <nav class="top-menu">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="">Skills</a>
        <a href="">Contact</a>
    </nav>
</header>
