<!-- views/partials/header.ejs -->
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About me</a></li>
            <li><a href="/">Skills</a></li>
            <li><a href="/">Contacts</a></li>
        </ul>
    </nav>
</header>
