<style>
    #about {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    h1 {
        margin: 0;
        font-size: 120px;
    }

    @media (max-width:768px) {
        h1 {
            font-size: 70px;
        }
    }
</style>

<div class="container" id="about">
    <h1>Designer</h1>
    <h1>Developer</h1>
    <h1>Gamer</h1>
    <h1>Enthusiast</h1>
</div>