<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Polypheus</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
  <nav>
  <h1>LOGO</h1>
  <ul>
  <li><a class="nav-link" href="#home">Home</a></li>
  <li><a class="nav-link" href="#about">About</a></li>
  <li><a class="nav-link" href="#projects">Projects</a></li>
  <li><a class="nav-link" href="#contacts">Contacts</a></li>
  </ul>
  </nav>
  </header>
  
  <div class = "container box-1" id="home">
    <div class = image-container>
      <img src = "/images/me.png"/>
    </div>
    <h1 class = "tada">Aspiring Web Designer/Developer</h1>
    <div class = "front-info">
     <div class="marquee-content">
        Im Paul Andrew Consunji A Recent Graduate of Rizal Technological University with Latin Honor (Cum Laude)&nbsp;&nbsp;&nbsp;&nbsp;
        Im Paul Andrew Consunji A Recent Graduate of Rizal Technological University with Latin Honor (Cum Laude)
      </div>
    </div>
    <button class="button button-1">Projects</button>
  </div>
  
  <div class="container box-2" id="about">
      <div class= "four-words">
    <h1 class = autoshow>Designer</h1>
    <h1 class = autoshow>Developer</h1>
    <h1 class = autoshow>Gamer</h1>
    <h1 class = autoshow>Enthusiast</h1>
      </div>
  </div>
  
  <div class = "container box-3" id="projects">
    <div class = "photocards">
      <div class = "cards card-1"></div>
      <div class = "cards card-2"></div>
      <div class = "cards card-3"></div>
      <div class = "cards card-4"></div>
      <div class = "cards card-5"></div>
      <div class = "cards card-6"></div>
    </div>
    </div>
    
    <div class = "container box-4" id = "contacts">
      <div class="contacts-container">
      <input type="text" placeholder="Want to send a Message?">
      <button type="submit" class="button button-2">Send</button>
    </div>
    </div>
    <%- include('partials/footer') %>
  </body>
  <script src="js/script.js"></script>
</html>