<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="container">
            <h1>Welcome to the Main Page</h1>
            <p>This is the main page of my portfolio.</p>
            <button id='click'>Click me</button>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
<script>
document.addEventListener('DOMContentLoaded', (event) => {
const alertButton = document.getElementById('click');
alertButton.addEventListener('click', () => {
    alert('bat mo pinindot');
});
});
</script>
</html>
