<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #skills {
            height: 100dvh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            padding: 50px; 
            gap: 30px;
        }

        img {
            object-fit: cover;
            height: 100px;
            width: 100px;
            border: 1px solid white;
        }
    </style>
</head>
<body>
    <div class="container3" id="skills">
        <img src="/public/Logo/html5.png" alt="html">
        <img src="/public/Logo/css3.png" alt="css">
        <img src="/public/Logo/js.jpeg" alt="js">
    </div>
</body>
</html>