
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.piano {
    display: flex;
    border: 1px solid black;
}

.key {
    font-family: "Tiny5", sans-serif;
    font-size: 2em;
    margin: 0 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.key:active {
    transform: scale(0.9);
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.bounce {
    animation: bounce 0.5s;
}

.frontpage {
    font-size:  100px;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}